.Positioner {
  outline: 0;
}

.Popup {
  box-sizing: border-box;
  min-width: 220px;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: canvas;
  color: var(--color-gray-900);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;
  user-select: none;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-300);
    box-shadow: 8px 10px 30px 0 var(--color-gray-400);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: canvas;
}

.ArrowOuterStroke {
  @media (prefers-color-scheme: light) {
    fill: var(--color-gray-200);
  }
}

.ArrowInnerStroke {
  @media (prefers-color-scheme: dark) {
    fill: var(--color-gray-300);
  }
}

.Item,
.CheckboxItem,
.SubmenuTrigger {
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  align-items: center;
  gap: 0.5rem;
  color: #3f3f3f;
  fill: #3f3f3f;
  min-height: 24px;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    /*color: var(--color-gray-50);*/
    /*fill: var(--color-gray-50);*/

    color: var(--ipe-accent-color-dark);
    fill: var(--ipe-accent-color-dark);
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    /*background-color: var(--color-gray-900);*/
    background-color: var(--ipe-accent-color-light);
  }
}

.NoIconItem {
  padding-left: calc(0.5rem + 0.5rem + 24px);
}

.ReadonlyItem {
  opacity: 0.33;

  &[data-highlighted] {
    color: inherit;
    fill: inherit;
  }

  &[data-highlighted]::before {
    background-color: inherit;
  }

}

.SubmenuTrigger {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1rem;
  padding-left: calc(0.5rem + 0.5rem + 24px);
}

.GroupLabel {
  cursor: default;
  user-select: none;
  padding-block: 0.25rem;
  padding-left: calc(0.5rem + 0.5rem + 24px);
  padding-right: 0.5rem;
  font-size: .875rem;
  line-height: 1rem;
  color: var(--color-gray-600);
  font-weight: bold;
}

.LifecycleStatusLabel {
  font-size: 0.875rem;
  float: right;
  font-weight: normal;
}

.LocalizationStatusLabel {
  font-size: 0.875rem;
  float: right;
  font-weight: normal;
}

.Separator {
  margin: 0.375rem 0;
  height: 1px;
  background-color: var(--color-gray-200);
}

.CheckboxItem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 24px 1fr;
}

.CheckboxItemIndicator {
  grid-column-start: 1;
}

.CheckboxItemIndicatorCheckedIcon,
.CheckboxItemIndicatorUncheckedIcon {
  width: 24px;
  height: 24px;
  display: block;
}


.CheckboxItemText {
  grid-column-start: 2;
}


.ContentInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  font-size: .875rem;
}

.Thumbnail {
  img {
    width: 50px;
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.ContentDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.125rem;
}

.ContentName {
  font-weight: bold;
}

.ContentType {
  color: var(--color-gray-600);
}
