.Toolbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1px;
  border: 2px solid var(--ipe-accent-color);
  background-color: var(--ipe-accent-color-light);
  border-radius: 0.375rem 0.375rem 0 0;
  padding: 0.125rem;
  width: auto;
  position: absolute;
  z-index: 999998;
}

.Group {
  display: flex;
  gap: 0.25rem;
}

.Button,
.IconButton {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  height: 2rem;
  padding: 0 0.75rem;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #3f3f3f;
  fill: #3f3f3f;
  user-select: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;

  &:focus-visible {
    background-color: transparent;
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-200);
  }

  &[data-pressed] {
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[role='combobox'] {
    min-width: 8rem;
    justify-content: space-between;
    padding: 0 0.75rem;
  }
}

.IconButton {
  gap: 0.5rem;
}

.Separator {
  width: 1px;
  height: 16px;
  margin: 0.25rem;
  background-color: var(--color-gray-300);
}
