.pde-fab {
  --pde-fab-base-padding: 4px;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  background: var(--pde-accent-color);
  align-items: stretch;
  outline-style: none;
  padding: 0;
  border: 1px solid var(--pde-accent-color);
  border-bottom: none;

  button {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    /*padding: 8px 16px;*/
    padding: var(--pde-fab-base-padding) calc(var(--pde-fab-base-padding)*2);
    color: var(--pde-accent-color);
    border: 1px solid var(--pde-accent-color);
    background-color: var(--pde-accent-color-light);

    &:hover {
      background: var(--pde-accent-color);
      color: var(--pde-accent-color-light);
    }

    &.pde-button-icon-only {
      padding: 0;
      aspect-ratio: 1 / 1;
    }

    &.pde--destructive {
      background: var(--pde-destructive-color-light);
      color: var(--pde-destructive-color);
    }

    &.pde--destructive:hover {
      background: var(--pde-destructive-color);
      color: var(--pde-destructive-color-light);
    }

    /*&:not(:first-child) {*/
    /*  border-left: none;*/
    /*}*/

    /*&:not(:last-child) {*/
    /*}*/

    svg {
      height: 16px;
      aspect-ratio: 1 / 1;
    }
  }
}
