.pde-highlight-marker {
  box-sizing: border-box;
  position: absolute;
  background: var(--pde-highlight-marker-bg);
}

/* fix z-index for preview element highlighting */
.secondaryPreviewIntegrationHighlightDom {
  z-index: 2147483646 !important;
}
