body {
  --pde-accent-color: #12A594;
  --pde-accent-color-light: color-mix(in srgb, var(--pde-accent-color) 33%, white);
  --pde-accent-color-dark: color-mix(in srgb, var(--pde-accent-color) 33%, black);

  --pde-destructive-color: #ef4444;
  --pde-destructive-color-light: color-mix(in srgb, var(--pde-destructive-color) 33%, white);
  --pde-destructive-color-dark: color-mix(in srgb, var(--pde-destructive-color) 33%, black);

  --pde-font-family: 'Roboto', 'Segoe UI', 'Trebuchet MS', 'Lucida Grande', 'Helvetica', sans-serif;
  --pde-highlight-color: var(--pde-accent-color);
  --pde-highlight-marker-bg: var(--pde-highlight-color);
}
